@page
@model Practica_No3.Pages.PrestamosModel
@{
    double monto = 10000;
    double cuotas = 5;
    double porcentajeAnual = 15;
    double interesAnual;
    double deudaTotalFinal;
    double cuotaMensual;

    interesAnual = monto * porcentajeAnual / 100;
    deudaTotalFinal = monto + interesAnual;
    cuotaMensual = deudaTotalFinal / 12;



}


<style>
    .boton {
        width: 200px;
        height: 50px;
        background-color: darkturquoise;
        border-radius: .5em;
        cursor: pointer;
        transition: background-color 1s;
    }

        .boton:hover {
            background-color: aquamarine;
        }


        .boton p {
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            color: white;
            line-height: 1.6em;
        }
</style>

<h1>Prestamo</h1>

<p>
    Una pagina con un formulario para monto, cantidad de cuotas, y porcentaje
    de interés anual de un préstamo y calcule la cuota mensual. (Amortizar mediante
    el sistema francés).
</p>


    <div>
        <form method="get">
            <label> Digite el monto:</label><br />
            <input type="number" name="" id="@monto" required /><br /><br />

            <label>Digite la cantidad de cuotas:</label><br />
            <input type="number" name="" id="@cuotas" required /><br /><br />

            <label> Digite el porcentaje de interés anual:</label><br />

            <input type="number" name="" id="@porcentajeAnual" required /><br /><br />


            

            <button class="boton" onclick="@cuotaMensual">Calcular</button>
            <script>
                alert("La cuota mensual es  @cuotaMensual")
            </script>



            


           

        </form>
    </div>

  
