@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Listado de productos</h1>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Categoria ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <p>Cree una entidad llamada Producto, con propiedades id, nombre, categoriaId, marca, modelo y precio.</p>
            @*Sintaxis de Razor para recorre toda la coleccion*@

            @foreach (var product in Model.Productos)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Nombre</td>
                    <td>@product.CategoriaId</td>
                    <td>@product.Marca</td>
                    <td>@product.Modelo</td>
                    <td>@product.Precio</td>
                </tr>



            }
        </tbody>
        <tr>
            <td></td>
        </tr>
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                
            </tr>
        </thead>
        <tbody>

            <h1>Listado de categorias</h1>
            <p>Cree una entidad llamada Categoría, con propiedades id, nombre.</p>
            @*Sintaxis de Razor para recorre toda la coleccion*@

            @foreach (var product in Model.Categorias)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Nombre</td>
                   
                </tr>



            }
        </tbody>
        <tr>
            <td></td>
        </tr>
    </table>

    <h1>Linq Query</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Categoria</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.prodCat)
            {
            <tr>
                <td>@item.NombreDelProducto</td>
                <td>@item.NombreDeLaCategoria</td>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.Precio</td>
            </tr>
            }
        </tbody>
    </table>

</div>
