@page
@model Practica_ll.Pages.NominaModel

<p>
    Hacer una aplicación Asp.net Razor Pages, con una pagina llamada nomina, donde se liste en una tabla
    nombres, apellidos, cargo, salario mensual, descuento AFP, descuento ARS, descuento ISR, total de
    descuentos y Salario Neto.
    Los datos de nombre, apellido, cargo y salario deben estar en una propiedad del Modelo de la pagina.
    Los demás campos,
    debe crear funciones correspondientes para calcularlos.
    Precargar por lo menos datos para 5 empleados.
</p>


<p>
    El monto a pagar de Seguro Familiar de Salud (SFS) se obtiene sacando el 3.04% del salario mensual
    del empleado. Su máximo está limitado a $4,098.53. Este monto equivale al 3.04% de 10 veces el salario
    mínimo ($13,482.00).
</p>

<p>
    El monto a pagar de Administradora de Fondo de Pensiones (AFP) se obtiene sacando el 2.87% del salario
    mensual del empleado. Su máximo está limitado a $7,738.67. Este monto equivale al 2.87% de 20 veces el
    salario mínimo ($13,482.00).
</p>

@{


    double MinAfpArs = 13482.00;
    double MaxAfpArs = 269640.00;
    double irsCat1 = 416220.01;
    double irsCat2 = 624329.00;

    double irsCat3 = 624329.01;
    double irsCat4 = 867123.00;

    double irsCat5 = 867123.01;


    double afp = 0; ;



    if (Model.Salario >= MinAfpArs || Model.Salario <= MaxAfpArs)
    {


        afp = (Model.Salario * 2.87) / 100;

    }




    double ars = 0;




    if (Model.Salario >= MinAfpArs || Model.Salario <= MaxAfpArs)
    {


        ars = (Model.Salario * 3.04) / 100;

    }







    double irs = 0 ;

    if (Model.Salario < irsCat1)
    {
        irs = 0;
    }


    else  if (Model.Salario > irsCat1 || Model.Salario <= irsCat2)
    {
        irs = (Model.Salario * 15) / 100;
    }

    else if (Model.Salario > irsCat3 || Model.Salario <= irsCat4)
    {
        irs = (Model.Salario * 20) / 100;
    }

    else if (Model.Salario > irsCat5)
    {
        irs = (Model.Salario * 25) / 100;
    }







    double totalDescuento;

    totalDescuento = afp + ars + irs;

    double salarioNeto;
    salarioNeto = Model.Salario - totalDescuento;

}

<div class="col-md-12">
    <table class="table">

        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cargo</th>
            <th>Salario mensual</th>
            <th>Descuento AFP</th>
            <th>Descuento ARS</th>
            <th>Descuento ISR</th>
            <th>Total de descuentos</th>
            <th>Salario neto</th>
        </tr>



        <tr>
            <td>@Model.Nombre</td>
            <td>@Model.Apellido</td>
            <td>@Model.Cargo</td>
            <td>@Model.Salario</td>
            <td>@afp</td>
            <td>@ars</td>
            <td>@irs</td>
            <td>@totalDescuento</td>
            <td>@salarioNeto</td>


        </tr>





    </table>
</div>


